     <div id="navbar" class="navbar-collapse collapse" >
          <form class="navbar-form navbar-right">
            <div class="form-group">
                <div class="btn-group">
                    <a href="{% url 'login' %}" button type="button" class="btn btn-link" >
                        <i class="glyphicon glyphicon-log-in"></i>
                        Log in
                    </a>
                    <a href="{% url 'register' %}" type="button" class="btn btn-link">
                        <i class="glyphicon glyphicon-pencil"></i> Register
                    </a>
                </div>
            </div>
        </form>
     </div>